<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Confirmation</title>
    <!-- Link any additional stylesheets or scripts as needed -->
</head>
<body>
    <div class="container">
        <h1>Registration Successful!</h1>
        <p>Thank you, {{ first_name }}, for registering.</p>
        <!-- You can add more details or links here -->
        <a href="/">Go to Home</a> <!-- Example link to homepage -->
    </div>
</body>
</html>
